<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="DocuSign.eSign.dll" version="2.2.0-rc" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="nunit.framework" version="2.63.0" targetFramework="net45" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" />
</packages>