################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/esign-csharp-sdk/v15/.suo
/.vs
/test/.vs/SdkTests
/test/packages
